// this file contains variable declarations for the palette!

$primary-bg-lite: #CFF8FF;
$secondary-bg-lite: #ffd8ea;
$accent-lite: #CFD1EC;
$main-text-lite: #292A68;
$bubble-shade1-lite: #88B8EA;
$bubble-shade2-lite: #6988BF;

$primary-bg-dark: #694D75;
$secondary-bg-dark: #4c4166;
$accent-dark: red;
$main-text-dark: #ffbafc;
$bubble-shade1-dark: #573970;
$bubble-shade2-dark: #352b50;