// this file contains variable declarations for the palette!
$font-stack: Helvetica, sans-serif;

$primary-bg-lite: #CFF8FF;
$secondary-bg-lite: #ffd8ea;
$accent-lite: #CFD1EC;
$main-text-lite: #292A68;

$bubble-shade1: #88B8EA;
$bubble-shade2: #6988BF;