// this file contains variable declarations for the palette!
$font-stack: Helvetica, sans-serif;

$primary-bg-lite: #CFF8FF;
$secondary-bg-lite: #FFEDF2;
$accent-lite: #CFD1EC;
$main-text-lite: #29183A;
