@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Tiny5&display=swap");
:root {
  --primary-bg: #CFF8FF;
  --secondary-bg: #ffd8ea;
  --main-text: #292A68;
  --bubble-shade1: #88B8EA;
  --bubble-shade2: #6988BF;
  --icon-highlight: #C1B0E1;
  --drop-shadow: #C1B0E1;
}

.dark-mode {
  --primary-bg: #694D75;
  --secondary-bg: #4c4166;
  --main-text: #ffbafc;
  --bubble-shade1: #573970;
  --bubble-shade2: #352b50;
  --icon-highlight: #533D81;
  --drop-shadow: #41366b;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  min-width: 330px;
  max-height: 100vh;
  max-width: 100vw;
}
body svg, html svg {
  fill: var(--main-text);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  font-size: max(3.5vh, 17px);
  font-family: "Tiny5", sans-serif;
  color: var(--main-text);
  background-color: var(--secondary-bg);
}

p {
  margin: 0.5em 0;
}

footer {
  display: flex;
  flex-basis: 1 1 100%;
  justify-content: space-around;
  align-content: flex-end;
  align-items: flex-end;
  justify-self: flex-end;
}
footer img {
  filter: drop-shadow(0 0.3vw var(--icon-highlight));
}
footer img:hover {
  animation-name: hover-select;
  animation-timing-function: ease-out;
  animation-duration: 0.01s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.bubble-container {
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: 63%;
  box-sizing: border-box;
  border-left: 0.8vw solid var(--bubble-shade2);
  box-shadow: inset 0.8vw 0 0 0 var(--bubble-shade1);
  border-right: 0.8vw solid var(--bubble-shade1);
}

.box-row {
  display: flex;
  flex-direction: row;
}

.bubble-sidebar {
  display: flex;
  flex-basis: 20%;
  align-items: center;
  justify-content: center;
}
.bubble-sidebar svg {
  flex-basis: 1 1 50%;
  height: 10vh;
  min-height: 50px;
  width: 10vw;
  gap: 10% 10%;
}

.bubble-main {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}
.bubble-main header {
  display: flex;
  flex-basis: 100%;
  flex-wrap: nowrap;
}
.bubble-main #content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 100%;
}
.bubble-main .right-hand-content {
  box-sizing: border-box;
  padding-right: 15%;
}
.bubble-main .left-hand-content {
  box-sizing: border-box;
  padding-left: 8%;
  padding-right: 12%;
}
.bubble-main #bubble-links {
  display: flex;
  justify-content: space-between;
  justify-items: flex-start;
  align-items: flex-start;
  width: auto;
  height: auto;
  gap: 10%;
}
.bubble-main #bubble-links svg:hover {
  animation-name: hover-select;
  animation-timing-function: ease-out;
  animation-duration: 0.01s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#tote-img {
  max-width: 80%;
  border-radius: 10vh;
  align-self: center;
}

#plush-img {
  max-width: 80%;
  border-radius: 10vh;
  align-self: center;
}

#bubble-closure {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: var(--secondary-bg);
  align-items: center;
}
#bubble-closure img {
  filter: drop-shadow(0 0.5vw var(--drop-shadow));
}
#bubble-closure #tail {
  flex-basis: 1 0;
  justify-self: flex-end;
  padding-left: 10%;
  animation-name: bubble-bounce;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.icon-links {
  width: 7vw;
  height: auto;
}

.pixel {
  image-rendering: pixelated;
}

#theme-toggle {
  border: none;
  padding: 0 0 0 0;
  background-color: transparent;
}

.bounce-anim {
  animation-name: bouncy;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes bouncy {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -1vh);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes bubble-bounce {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(0, -0.8vh);
  }
  70% {
    transform: translate(0, -0.8vh);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes hover-select {
  0% {
    transform: translate(0, 0);
  }
  100% {
    filter: brightness(150%);
    transform: translate(0, -1vh);
  }
}

/*# sourceMappingURL=main-style.css.map */
